4. What is the highest count of scooters being used at the same time? When did it occur? Does this vary by zip code or other geographic region?

In [1]:
from sqlalchemy import create_engine

In [2]:
import geopandas as gpd
import matplotlib.pyplot as plt
import folium
from folium.plugins import MarkerCluster
from folium.plugins import FastMarkerCluster

In [3]:
import pandas as pd

In [4]:
database_name = 'scooters'    # Fill this in with your scooter database name

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

In [5]:
database_name = 'scooters'    # Fill this in with your scooter database name

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

In [6]:
engine = create_engine(connection_string)

In [7]:
xxx = """
SELECT startdate, starttime, COUNT(sumdid) as trip_count
    FROM trips
    GROUP BY startdate, starttime
    ORDER BY trip_count DESC
"""

result = engine.execute(xxx)

xxxx = pd.read_sql(xxx, con = engine)
xxxx

In [9]:
trips_df = pd.read_sql_query('SELECT * FROM trips', con=database)
print(trips_df)

In [10]:
trips_df['geometry'] = trips_df.apply(lambda x: Point((x.lon, 
                                                         x.lat)), 
                                        axis=1)
trips_df.head(5)