4. What is the highest count of scooters being used at the same time? When did it occur? Does this vary by zip code or other geographic region?

In [1]:
from sqlalchemy import create_engine

In [2]:
import pandas as pd

In [3]:
database_name = 'scooters'    # Fill this in with your scooter database name

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

In [4]:
database_name = 'scooters'    # Fill this in with your scooter database name

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

In [5]:
engine = create_engine(connection_string)

In [7]:
xxx = """
SELECT startdate, starttime, COUNT(sumdid) as trip_count
    FROM trips
    GROUP BY startdate, starttime
    ORDER BY trip_count DESC
"""

result = engine.execute(xxx)

xxxx = pd.read_sql(xxx, con = engine)
xxxx

         startdate        starttime  trip_count
0       2019-05-16         23:42:03         115
1       2019-05-16         22:57:07         109
2       2019-05-16         23:48:10         107
3       2019-05-17         05:29:30         102
4       2019-05-17         12:38:26         101
...            ...              ...         ...
521984  2019-06-27  16:50:20.336666           1
521985  2019-06-19  03:17:01.210000           1
521986  2019-06-16         17:07:30           1
521987  2019-07-02  17:28:44.183333           1
521988  2019-07-02  20:37:38.733333           1

[521989 rows x 3 columns]