In [1]:
from shapely.geometry import Point
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import psycopg2
import seaborn as sns
import folium
from folium.plugins import MarkerCluster
from folium.plugins import FastMarkerCluster
from sqlalchemy import create_engine, MetaData, Table

In [2]:
database_name = 'scooters'    # Fill this in with your scooter database name

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

engine = create_engine(connection_string)

In [3]:
zipcodes = gpd.read_file('../data/zipcodes.geojson')
print(zipcodes.crs)
zipcodes.head( )

EPSG:4326

,zip,objectid,po_name,shape_stlength,shape_starea,geometry
0,37115,1,MADISON,178783.02488886821,596553400.57885742,"MULTIPOLYGON (((-86.68725 36.31821, -86.68722 ..."
1,37216,3,NASHVILLE,75820.997821400058,188884682.28344727,"MULTIPOLYGON (((-86.73451 36.23774, -86.73425 ..."
2,37204,9,NASHVILLE,93180.292250425613,200664795.51708984,"MULTIPOLYGON (((-86.77914 36.13424, -86.77923 ..."
3,37027,11,BRENTWOOD,159760.6942933173,174978422.04101562,"MULTIPOLYGON (((-86.81258 36.06319, -86.81263 ..."
4,37064,18,FRANKLIN,28995.828320601937,46969608.005737305,"MULTIPOLYGON (((-87.02197 36.01200, -87.02140 ..."

In [4]:
numb_of_scoot = '''
SELECT startlatitude, startlongitude
FROM trips
WHERE starttime BETWEEN '13:00:00' AND '14:00:00'
'''
result = engine.execute(numb_of_scoot)

scoot_num = pd.read_sql(numb_of_scoot, con = engine)

In [5]:
scoot_num['geometry'] = scoot_num.apply(lambda x: Point((x.startlongitude, 
                                                         x.startlatitude)), 
                                        axis=1)

In [6]:
scoot_num = gpd.GeoDataFrame(scoot_num, crs='EPSG:4326', geometry='geometry')

In [7]:
scoot_num

       startlatitude  startlongitude                    geometry
0          36.154500      -86.785100  POINT (-86.78510 36.15450)
1          36.149300      -86.802300  POINT (-86.80230 36.14930)
2          36.155585      -86.765836  POINT (-86.76584 36.15559)
3          36.151900      -86.780900  POINT (-86.78090 36.15190)
4          36.160800      -86.778900  POINT (-86.77890 36.16080)
...              ...             ...                         ...
11701      36.157600      -86.766600  POINT (-86.76660 36.15760)
11702      36.142700      -86.809000  POINT (-86.80900 36.14270)
11703      36.148900      -86.802200  POINT (-86.80220 36.14890)
11704      36.163900      -86.769890  POINT (-86.76989 36.16390)
11705      36.173521      -86.785319  POINT (-86.78532 36.17352)

[11706 rows x 3 columns]

In [8]:
start_by_zip = gpd.sjoin(scoot_num, zipcodes, op = 'within')

c:\Users\12564\anaconda3\envs\scooters\lib\site-packages\IPython\core\interactiveshell.py:3445: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  if await self.run_code(code, result, async_=asy):

In [9]:
start_by_zip

,startlatitude,startlongitude,geometry,index_right,zip,objectid,po_name,shape_stlength,shape_starea
0,36.154500,-86.785100,POINT (-86.78510 36.15450),35,37203,33,NASHVILLE,91285.438580354588,120649702.5546875
1,36.149300,-86.802300,POINT (-86.80230 36.14930),35,37203,33,NASHVILLE,91285.438580354588,120649702.5546875
3,36.151900,-86.780900,POINT (-86.78090 36.15190),35,37203,33,NASHVILLE,91285.438580354588,120649702.5546875
4,36.160800,-86.778900,POINT (-86.77890 36.16080),35,37203,33,NASHVILLE,91285.438580354588,120649702.5546875
6,36.153600,-86.785400,POINT (-86.78540 36.15360),35,37203,33,NASHVILLE,91285.438580354588,120649702.5546875
...,...,...,...,...,...,...,...,...,...
5452,36.221755,-86.851122,POINT (-86.85112 36.22176),27,37218,55,NASHVILLE,253501.29953687743,1071962039.8548584
6377,36.209421,-86.823620,POINT (-86.82362 36.20942),27,37218,55,NASHVILLE,253501.29953687743,1071962039.8548584
7099,36.207674,-86.839550,POINT (-86.83955 36.20767),27,37218,55,NASHVILLE,253501.29953687743,1071962039.8548584
10881,36.216833,-86.845777,POINT (-86.84578 36.21683),27,37218,55,NASHVILLE,253501.29953687743,1071962039.8548584
11627,36.258934,-86.708997,POINT (-86.70900 36.25893),0,37115,1,MADISON,178783.02488886821,596553400.57885742

In [10]:
count_by_zip = start_by_zip.groupby('zip').count()

In [12]:
count_by_zip = count_by_zip.rename(columns={'startlatitude':'numb_started'})

In [13]:
count_by_zip = count_by_zip['numb_started']

In [17]:
count_by_zip = count_by_zip.reset_index()

In [23]:
count_by_zip.sort_values('numb_started', ascending=False)

      zip  numb_started
3   37203          4812
12  37212          1330
2   37201          1189
18  37219          1148
8   37208           759
13  37213           656
4   37204           527
6   37206           480
10  37210           449
21  37240           189
20  37232            63
9   37209            33
7   37207            32
16  37216            10
15  37215             9
5   37205             6
19  37228             5
17  37218             4
11  37211             2
14  37214             1
1   37138             1
0   37115             1